<!DOCTYPE html>
<html>
<head>
<title>A propos</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="sidenav">
        <a href="/">Accueil</a>
        <a href="/about">À Propos</a>
        <a href="/contact">Me Contacter</a>
    </div>
    <main>
        <h1>A propos</h1>
        <p>Bonjour je suis Armand Broutin et je suis développeur informatique spécialisé dans le logiciel.
            <br>Je suis détenteur d'un DUT et d'une licence en Informatique.
            <br>Actuellement je passe un diplôme en alternance pour devenir ingénieur informaticien</p>
        <a href="https://github.com/ArmandBroutinDev?tab=repositories">mes travaux sur github</a>
    </main>
</body>

</html> 