<!DOCTYPE html>
<html>
<head>
<title>Me Contacter</title>
<link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="sidenav">
        <a href="/">Accueil</a>
        <a href="/about">À Propos</a>
        <a href="/contact">Me Contacter</a>
    </div>
    <main>
        <h1>Me Contacter</h1>
        <p>Si vous souhaitez me contacter pour faire du développement logiciel,<br>Vous pouvez le faire via :</p>
        <ul>
            <li><a href="mailto:armand.broutin@gmail.com">par e-mail</a></li>
            <li><a href="https://www.linkedin.com/in/armand-broutin-1816721b5/">via Linkedin</a></li>
        </ul>
    </main>
</body>

</html> 